<a href="https://colab.research.google.com/github/seungkim1313/coding_test_study/blob/main/greedy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###숫자 카드 게임
---
가장 높은 숫자가 쓰인 카드 한 장을 뽑아야 된다. 하지만 다음과 같은 룰을 지켜야 된다.

1. N x M 형태로 놓여있다. N은 행이며, M은 열의 개수다.
2. 먼저 행을 선택한다.
3. 선택된 행에서 가장 낮은 숫자를 뽑는다.


입력 조건:

- N은 1 또는 1 보다 크며, M은 100 또는 100보다 작다.
- 각 숫자는 자연수이며, 1에서 10,000의 range를 갖고 있다.

In [2]:
n, m = map(int, input().split())

result = 0
for i in range(n):
  nums = list(map(int, input().split()))
  min_val = min(nums)
  result = max(result, min_val)

print(result)

3 3
3 1 2
4 1 4
2 2 2
2